@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@font-face {
  font-family: "Exo2.0";
  src: url("../static/fonts/Exo2.0-Thin.eot");
  src: local("☺"), url("../static/fonts/Exo2.0-Thin.woff") format("woff"), url("../static/fonts/Exo2.0-Thin.ttf") format("truetype"), url("../static/fonts/Exo2.0-Thin.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "TrebuchetMS";
  src: url("../static/fonts/TrebuchetMS.eot");
  src: local("☺"), url("../static/fonts/TrebuchetMS.woff") format("woff"), url("../static/fonts/TrebuchetMS.ttf") format("truetype"), url("../static/fonts/TrebuchetMS.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TrebuchetMS";
  src: url("../static/fonts/TrebuchetMS-Bold.eot");
  src: local("☺"), url("../static/fonts/TrebuchetMS-Bold.woff") format("woff"), url("../static/fonts/TrebuchetMS-Bold.ttf") format("truetype"), url("../static/fonts/TrebuchetMS-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
@media (max-width: 621px) {
  html {
    font-size: 12px;
  }
}

#root {
	height: 100%;
	width: 100%;
}

.App {
	width: 100%;
	height: 100%;
}

body {
  font-family: "TrebuchetMS", sans-serif;
  font-weight: 400;
  color: #666;
}

.container {
  max-width: 1120px;
  height: 100%;
  margin: 0 auto;
}
@media (max-width: 1121px) {
  .container {
    max-width: 768px;
  }
}
@media (max-width: 769px) {
  .container {
    max-width: 100%;
  }
}

.text {
  font-size: 0.875rem;
  line-height: 0.25em;
}

.main {
  background: url("../static/img/Pattern.png") 0 0/cover no-repeat;
}
@media (min-width: 1121px) {
  .main {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 769px) {
  .main {
    background: url("../static/img/Pattern@2x.jpg") 0 0/auto 100% no-repeat;
  }
}

.wrapper {
  display: flex;
  align-items: center;
  height: 100%;
}

.cat-food {
  min-height: 565px;
  flex: 1 1 auto;
}
.cat-food__title {
  color: #fff;
  font-family: "Exo2.0", sans-serif;
  font-size: 2.25rem;
  line-height: 0.5em;
  text-align: center;
  padding: 0 0 2.5rem 0;
}
.cat-food__cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0px -40px;
}
@media (max-width: 1121px) {
  .cat-food__cards {
    margin: 0px;
    justify-content: space-evenly;
  }
}
.cat-food__card {	
  flex: 0 1 33.333%;
  padding: 0px 40px;
}
@media (max-width: 1121px) {
  .cat-food__card {
    flex: 0 1 320px;
    margin: 0 0 4rem;
    padding: 0;
  }
  .cat-food__card:last-child() {
    margin: 0;
  }
}
@media (max-width: 769px) {
  .cat-food__card {
    padding: 0 20px;
  }
}

.cat-food__card-wrapper {
	position: relative;
  background: url("../static/img/cats.png") bottom left no-repeat;
  background-color: #fff;
  border: 4px solid #1698D9;
  border-radius: 12px;
  padding: 20px 16px 16px 50px;
	transition: all 0.5s ease;
}

.cat-food__card-wrapper._active {
	border-color: #D91667;	
}

.cat-food__card-wrapper._availability {
	border: 4px solid #B3B3B3;
}

.cat-food__card-wrapper._availability::after {
	border-radius: 12px;
	border: 4px solid #B3B3B3;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #B3B3B3;
	z-index: 100;
	opacity: 0.6;
}

.cat-food__card-wrapper._hover-effect {
	border-color: #E52E7A;	
}

@media (max-width: 1121px) {
  .cat-food__card-wrapper {
    padding: 10px 0 8px 20px;
  }
}
@media (max-width: 1121px) {
  .cat-food {
    padding: 3rem 0 0 0;
  }
}

.card__content {
  display: flex;
  flex-direction: column;
  height: 445px;
  justify-content: space-between;
}
@media (max-width: 621px) {
  .card__content {
    height: 400px;
  }
}
.card__subtitle {
  font-size: 1rem;
  line-height: 0.16125em;
  margin: 0 0 0.9375rem 0;
	transition: all 0.5s ease;
}

.card__subtitle._hover-effect {
 color: #E52E7A;
}

.card__food-name {
  color: #000;
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.4375em;
}
.card__taste-food {
  color: #000;
  font-size: 1.5rem;
  line-height: 1.25em;
  padding: 0 0 0.9375rem;
}
.card__gift {
  font-size: 0.875rem;
  line-height: 1em;
}
.card__food-weight {
  align-items: center;
  align-self: flex-end;
  height: 80px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  width: 80px;
}

.card__food-weight._availability::before {
	background-color: #B3B3B3;
}

.card__food-weight::before {
  background-color: #1698D9;
  border-radius: 1000px;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 80px;
	transition: all 0.5s ease;
}


.card__food-weight._active::before {
	background-color: #D91667;
}

.card__food-weight._hover-effect::before {
	background-color: #D91667;
}

.card__food-weight p {
  position: relative;
  z-index: 2;
}
.card__food-weight-text {
  text-align: center;
  color: #fff;
  font-size: 2.6rem;
  line-height: 0.55em;
}
.card__food-weight-mass {
  color: #fff;
  font-size: 1.3125rem;
  padding: 0.7em 0 0 0;
  text-transform: uppercase;
}
.card__offer {
	display: flex;
	justify-content: center;	
  font-size: 0.8125rem;
  text-align: center;
  color: #fff;
  margin: 14px 0 0 0;
}

.card__offer._availability {
	color: #FFFF66;
}

.card__link-pay {
  color: #1698D9;
  font-weight: 700;
  -webkit-text-decoration: underline dashed #1698D9;
          text-decoration: underline dashed #1698D9;
}
